/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-container {
  background-color: burlywood;

  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr 3fr;

  height: 100vh;
  width: 100vw;
}

.header {
  background-color: white;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-start: 2;
}

.header-upper {
  /* background-color: aqua; */

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
}

/* .header-search-icon{
  border: 2px solid black;
  height: 100px;
  width: 100px;
} */

.search {
  /* border: 2px solid black; */
  height: 30px;
  width: 30px;
}

.header-search-bar {
  /* background-color: red; */
  background-color: #dbdbdb;

  /* border: 2px solid black; */
  border-radius: 50px;
  width: 600px;
  height: 30px;

  margin-left: -60px;
}

.notifications {
  /* border: 2px solid black; */

  height: 30px;
  width: 30px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  margin-left: -50px;
}

.user-name {
  margin-left: -50px;
}

.header-lower {
  /* background-color: azure; */

  display: flex;
  align-items: center;
  justify-content: space-around;

  grid-column-start: 1;
  grid-column-end: 3;

  padding-left: 50px;
  padding-right: 50px;
}

.profile-picture-lower {
  height: 70px;
  width: 70px;
  border-radius: 50%;

  margin-left: -150px;
}

.header-lower-greetings {
  height: 50px;
  width: 250px;
  /* border: 2px solid black; */

  margin-left: -410px;

  line-height: 1.3;
}

.header-lower-buttons {
  /* border: 2px solid black; */
  height: 100px;
  width: 350px;

  margin-right: -150px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-new,
.button-upload,
.button-share {
  height: 40px;
  width: 100px;
  border-radius: 100px;
  border: none;

  background-color: #1992d4;
  color: white;
}

.sidebar {
  background-color: #1992d4;

  display: grid;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-rows: 0.5fr 2fr 2.5fr;

  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.dashboard {
  /* border: 2px solid black; */

  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 5px;

  cursor: pointer;
}

.img-dashboard {
  height: 40px;

  margin-left: 10px;

  filter: brightness(0) invert(1);
}

ul {
  list-style: none;
}

li {
  display: flex;
  gap: 10px;

  cursor: pointer;
}

.dashboard-options-1,
.dashboard-options-2 {
  /* border: 2px solid black; */

  display: flex;
  align-items: center;

  margin-left: 10px;
  padding-left: 10px;

  line-height: 2.3;
}

.img-dashboard-options {
  height: 30px;

  filter: brightness(0) invert(1);

  /* display: flex; */
}

.dashboard-options-2 {
  /* border: 2px solid black; */

  padding-bottom: 150px;
}

.main-content-container {
  background-color: #dbdbdb;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 70fr 2fr;
}

.main-content-container-left-box {
  /* background-color: aqua; */

  /* border: 2px solid black; */

  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 3;

  /* display: grid; */
}

.your-projects-title {
  /* background-color: azure; */

  /* grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 1;
  grid-row-end: 2; */

  height: 8vh;

  padding-bottom: 0.5vh;
  padding-left: 2vh;

  display: flex;
  align-items: flex-end;

  font-size: large;
}

.card {
  border: 2px solid black;

  height: 200px;
  width: 350px;
  border-radius: 10px;

  overflow: hidden;

  display: flex;
}

.your-projects-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.card-left-part {
  background-color: #f1b11e;

  /* height: 100%; */
  width: 3%;
}

.card-right-part {
  background-color: white;

  width: 100%;
  padding: 20px 20px;

  display: grid;
  grid-template-rows: 2fr 1fr;
}

.card-details {
  /* border: 2px solid black; */
}

.card-options {
  /* border: 2px solid black; */

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  gap: 20px;
}

.img-card-options {
  height: 25px;
  cursor: pointer;
}

.main-content-container-right-box {
  border: 2px solid black;
  grid-template-rows: 20;
}

.announcements-container {
  /* border: 2px solid black; */

  margin-top: 9%;

  height: 50%;
}

.announement-title {
  /* border: 2px solid black; */
  font-size: 1.2rem;
  font-weight: bold;
}

.announcements-box {
  margin-top: 4%;
  padding: 20px;

  /* border: 2px solid black; */
  border-radius: 10px;

  background-color: white;
  height: 80%;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.separator {
  border: 2px solid #dbdbdb;
  width: 100%;

  margin-top: 5%;
}

.trending-container {
  border: 2px solid black;

  height: 50%;

  margin-top: 10%;
}

.trending-title {
  border: 2px solid black;
  font-size: 1.2rem;
  font-weight: bold;
}

.trending-box {
  border: 2px solid black;
  border-radius: 10px;

  background-color: white;

  height: 100%;

  margin-top: 5%;
}

.trending-box-tegan {
  border: 2px solid black;
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */

  margin-left: 12%;
}

.trending-box-photo {
  /* border: 2px solid black; */
  /* border-radius: 50%; */

  height: 50px;
  width: 50px;
}

#trending-profile-pictures {
  height: 50px;
  width: 50px;

  border-radius: 50%;
}
